ul{
    list-style: none;
}
.hallo{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.hallo-item{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #7D7D7D;
    background-color: cyan;
}

.images{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 65px;
margin-top: 92px;
margin-left: 148px;
margin-right: 147px;
margin-bottom: 62px;

}
.images-item{
    width: 420px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    cursor: pointer;
  }
